div(id="about")
    h1 About Deus
    p(class="about-p") Deus is a company with the goal of motivating and engaging language learners through art and entertainment. Our goal is to provide users with entertainment that not only motivates them to continue their studies with the goal of understanding the art produced by native speakers but also learn about the people and cultures behind those stories.
        