div(id="about")
    h1 About Us
    p(class="about-p") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, molestiae non. Doloremque necessitatibus natus ab sapiente aut error blanditiis, nostrum minus ipsam voluptas, et quos, dolores nemo vero! Voluptatem, libero.
        