div(id="contact-form")
    h1 Contact Us
    form(action="/contact" method="post")
        select(name="topic")
            option(value="") Please select a topic
            option(value="story") I want to submit a story
            option(value="legal") I have a legal complaint
            option(value="art") Submit artwork
            option(value="job") Give me a job
            option(value="other") Other
        div(class="field")
            label(for="name") Your name <span>Required</span>
            input(name="name", type="text", required)
        div(class="field")
            label(for="email") Your email address <span>Required</span>
            input(name="email", type="email", required)
        div(class="field")
            label(for="subject") Subject
            input(name="subject", type="text")
        div(class="field")
            label(for="msg") Message <span>Required</span>
            textarea(name="msg", required)
        div(class="field")
            label(for="file") Upload a file
            input(type="file", id="avatar", name="avatar", accept="")
        input(type="submit", value="Send Message")