div(id="main-text")
    div(id="title")
        h1 #{cs_title}
        h2 #{sub} 
    h2 #{subscribe}
    dif(class="f-right")
        div(class="sns")
            a( href="https://twitter.com/DeusSNS") 
                img(src='/public/tweet.png' alt="twitter" )
        div(class="sns")
            a(href="https://www.instagram.com/deussns/") 
                img(src='/public/insta.png' alt="instagram")
    //- h2 or vist our <a href="https://blog.deus.io">blog</a> 