div(id="main-text")
    div(id="title")
        h1 COMING SOON
        h2 The website is under construction
    div(id="counters")
        div(class="di-block")
            div(class="digit" id="day")
                p(class="di") 0
            p(class="t-unit") Day
        div(class="di-block")
            div(class="digit" id="hrs")
                p(class="di") 0
            p(class="t-unit") Hour
        div(class="di-block")
            div(class="digit" id="min")
                p(class="di") 0
            p(class="t-unit") Minute
        div(class="di-block")
            div(class="digit" id="sec")
                p(class="di") 0
            p(class="t-unit") Second
    h2 Subscribe to get updates on current progress <span>
        img(id="dues" src='/public/deus.png' alt="deus")
        </span> and to be alerted when the count down begins.
    form
        input(type="email", name="email", placeholder="Email")
        input(type="submit" value=" ")