div(id="about")
    h1 Thank you for Contacting Deus
    p(class="about-p") We are all ways happy to listen to feedback, concerns, answer inquires, or just to chat. We will review your message and get back to you ASAP
        