doctype html
html
    head
        style
            include /css/style.css
            include /css/animation.css
            include /css/footer.css
            include /css/mainText.css
        script
            include /js/script.js
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel="stylesheet")
    body
        main
            img(id="head-logo" src='/public/logo.png' alt="logo")
            div(id="main-body")
                div(id="anime-top")
                    div(class="circle" id="shape1")
                    div(class="circle1" id="shape2")
                    div(class="circle1" id="shape3")
                    div(class="rect" id="shape4")
                    div(class="rect2" id="shape8")
                    div(class="rect1" id="shape5")
                    div(class="bar" id="shape6")
                    div(class="bar" id="shape7")
                    div(id="anime")
                        img(id="clock-rope-right" class="move" src='/public/rope.png' alt="rope")
                        img(id="clock-rope-left" class="move" src='/public/rope.png' alt="rope")
                        div(id="clock-body")
                            img(id="clock-body-img" class="move" src='/public/clock.png' alt="clock")
                            img(id="clock-bhand" class="move" src='/public/bi_hand.png' alt="big hand")
                            img(id="clock-lhand" class="move" src='/public/li_hand.png' alt="little hand")
                        img(id="cool-girl" class="move" src='/public/cool_girl.png' alt="cool girl")
                        //- div(id="backlight" class="move")
                    img(id="shadow" class="move" src='/public/shadow.png' alt="shadow")
                div(id="main-text")
                    div(id="title")
                        h1 COMING SOON
                        h2 The website is under construction
                    div(id="counters")
                        div(class="di-block")
                            div(class="digit" id="day")
                                p(class="di") 0
                            p(class="t-unit") Day
                        div(class="di-block")
                            div(class="digit" id="hrs")
                                p(class="di") 0
                            p(class="t-unit") Hour
                        div(class="di-block")
                            div(class="digit" id="min")
                                p(class="di") 0
                            p(class="t-unit") Minute
                        div(class="di-block")
                            div(class="digit" id="sec")
                                p(class="di") 0
                            p(class="t-unit") Second
                    h2 Subscribe to the newsletter to stay in the latest news
                    form
                        input(type="email", name="email", placeholder="Email")
                        input(type="submit" value=" ")
        footer
            //- div(id="f-left")
            //-     p Home
            //-     div(class="f-divider")
            //-     p About platform
            //-     div(class="f-divider")
            //-     p About company

            //- img(id="foot-logo" src='/public/logo.png' alt="logo")

            //- div(id="f-right")
            //-     p(id="cpy-rite") Copyright ©  2018-2019 Deus Company S.L. All rights reserved.
            //-     img(class="sns" src='/public/fb.png' alt="facebook")
            //-     img(class="sns" src='/public/tweet.png' alt="twitter")
            //-     img(class="sns" src='/public/insta.png' alt="instagram")
            //-     select
            //-         option(value="en") English
            //-         option(value="ja") 日本語
            //-         option(value="ko") 한국어