doctype html
html
    head
        style
            include /css/choices/choices.min.css
            include /css/style.css
            include /css/animation.css
            include /css/footer.css
            include /css/mainText.css
            include /css/about.css
            include /css/contact.css
            include /css/dropzone/dropzone.css
            include /css/dropzone/basic.css
            include /css/choices/base.min.css

        script(type="module")
            include /js/script.js

        script
            include /js/dropzone/dropzone.js
            include /js/choices/choices.min.js
            
        if page=='home'
            title Coming Soon
        else if page=='contact'||'message_received'
            title Contact Us
        else if page=='about'
            title About Us
        else if page=='artist'
            title Become A Deus Artist

        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/public/icon.png", rel="icon")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel="stylesheet")
    body
        main
            a(id="head-logo" href=`${'/'}`) 
                img( src='/public/logo.png' alt="logo")
            div(id="right-wrap")
                if page=="artist"
                    img(class="poster" src='/public/hotmix.png' alt="rope")
                    img(id="big-logo" src='/public/final-02.png' alt="rope")
                else
                    div(id="anime-top")
                        div(id="anime")
                            img(id="clock-rope-right" class="move" src='/public/rope.png' alt="rope")
                            img(id="clock-rope-left" class="move" src='/public/rope.png' alt="rope")
                            div(id="clock-body")
                                img(id="clock-body-img" class="move" src='/public/clock.png' alt="big hand")
                                div
                                    img(id="clock-bhand" class="move" src='/public/bi_hand.png' alt="big hand")
                                    img(id="clock-lhand" class="move" src='/public/li_hand.png' alt="little hand")
                                img(id="cool-girl" class="move" src='/public/cool_girl.png' alt="cool girl")
                        img(id="shadow" class="move" src='/public/shadow.png' alt="shadow")
                    div(id="title0")
                        if page=='home'
                            h1 COMING SOON
                        else if page=='contact'
                            h1 Contact us
                        else if page=='about'
                            h1 about deus
                        else if page=='artist'
                            h1 Join us
            div(id="left-wrap")
                if page=='home'
                    include includes/home_coming.pug
                else if page=='contact'
                    include includes/contact.pug
                else if page=='about'
                    include includes/about.pug
                else if page=='message_received'
                    include includes/message_received.pug
                else if page=='artist'
                    include includes/become_artist.pug
        
        footer
            div(id="f-left")
                a(href=`${'/about'}`) About DEUS
                div(class="f-divider")
                a(href=`${'/contact'}`) Contact Us
                div(class="f-divider")
                a(href=`${'/join/artist'}`) Become A Deus Artist

            div(id="f-right")
                p(id="cpy-rite") Copyright ©  2018-2019 Deus Company S.L. All rights reserved.
                img(class="sns" src='/public/fb.png' alt="facebook")
                img(class="sns" src='/public/tweet.png' alt="twitter")
                img(class="sns" src='/public/insta.png' alt="instagram")
                select
                    option(value="en") English
                    option(value="ja") 日本語
                    option(value="ko") 한국어