#navbar {
    position: relative;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    top: 0px;
    width: 100%;
    height: 60px;
    background: #002533;
    align-self: end;
    z-index: 3;
}

#navbar p{
    font-weight: 500;
    font-size: .6vw;
    line-height: 15px;
    
    letter-spacing: 0.38px;

    color: #9CB1BA;

    margin: 0 25px;
}

.nb-divider{
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #687A81;
    height: 22px;
}

#head-logo{
    position: absolute;
    left: 50%;
    flex-basis: 1;
    height: 100%;
}

#divider3{
    margin: 0 20px;
}

#navbar select{
    height: 35px;
    width: 110px;

    background: #002533;
    mix-blend-mode: normal;
    opacity: 0.3;
    border: 1px solid #9CB1BA;
    box-sizing: border-box;
    border-radius: 3px;

    font-weight: 600;
    font-size: .7vw;
    line-height: 15px;

    text-align: center;
    letter-spacing: 0.078px;

    color: #9CB1BA;
    margin: 0 25px;
    cursor: pointer;
    
    padding-left: 10px;
}

#nb-right, #nb-left{
    display: flex;
    height: 100%;
    align-items: center;
    text-transform: uppercase;
    /* background: lightyellow; */
}

#nb-right{
    justify-content: flex-end;
    /* margin-right: 20px; */
}

#sn{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nb-icon{
    align-self: center;
    padding: 10px 0px
}

.nb-icon img{
    cursor: pointer;
}

/* #navbar form{
    display: flex;
} */

#search-button {
cursor: pointer;
  background-color: transparent;
  background-position: 10px 10px; 
  background-repeat: no-repeat;

  background-position: 96% 1px; 
  
  border: 3px solid transparent;
  /* border-color: transparent; */
  border-radius: 20px;

  height: 32px;
  width: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

  padding-left: 20px;
  padding-right: 40px;
  /* identical to box height */
  
  letter-spacing: -0.0184615px;
  
  color: #9CB1BA;
}

#search-button:focus {
    cursor: text;
    width: 180px;
    outline: none;
}


@media(max-width: 1000px){
    #cpy-rite{
        font-size: 1.5vw;
    }

    #foot-logo, #f-left{
        visibility: hidden;
        height: 0;
    }

    #navbar {
        display: grid;
        align-items: center;
        height: auto;
        width: 100%;
        background: #002533;bottom: 0;
    }

    #navbar p{
        font-size: 9px;
    } 
    #navbar select{
        font-size: 7px;
        margin: 10px 25px;
    }   
    
}