html
    head
        style
            include /css/homepage/main.css
            include /css/homepage/navbar.css
            include /css/homepage/home.css
            include /css/homepage/footer.css
        script
            include /js/hp_script.js
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel="stylesheet")
    body
        div(id="navbar")
            div(id="nb-left")
                p Home
                div(class="nb-divider")
                p About platform
                div(class="nb-divider")
                p About <span>
                    img(id="dues" src='/public/deus.png' alt="deus")
                    </span>

            img(id="head-logo" src='/public/logo.png', alt="logo")
            div(id="nb-right")
                input(type="text", autocomplete="off", id="search-button", style=`background-image:url(${'/public/homepage/search.png'})`)
                div(class="nb-divider" id="divider3")
                div(id="sn")
                    img(class="nav-icon" src='/public/homepage/sign_out.png', alt="logo")
                    p Sign in
        main
            img(id="fig-img", src='/public/homepage/fig_img.png', alt="logo")
            div(id="main-top")
                img(id="laptop", src='/public/homepage/laptop.png', alt="logo")
                div(id="exp")
                    h1 Welcome to deus 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                img(id="mouse", src='/public/homepage/scroll_mouse.png')
            div(id="main-two")
                div(id="m2-left")
                    h1 About Deus
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoaboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    div(class="plat-list-pnt")
                        div(class="bullet")
                        div 
                            h2 Flashcards
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    div(class="plat-list-pnt") 
                        div(class="bullet")
                        div 
                            h2 Quizzes
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    div(class="plat-list-pnt") 
                        div(class="bullet")
                        div 
                            h2 Comics
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    div(class="plat-list-pnt") 
                        div(class="bullet")
                        div 
                            h2 Lyrics
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor     
                div(id="m2-right")
                    img(id="scrnsht", src='/public/homepage/screenshot.png', alt="logo")
            div(id="main-three")
                div(id="m3-left")
                    img(id="grpjmp", src='/public/homepage/group_jump.svg', alt="logo")
                div(id="m3-right")
                    div
                        h1 About Company
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud rcitation ullamcoaboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    img(class="back-img" id="hero" src="/public/homepage/superhero.png" )
                    img(class="back-img" id="hero1" src="/public/homepage/superhero.png" )
                    img(class="back-img" id="note" src="/public/homepage/music_note.png" )
                    img(class="back-img" id="note1" src="/public/homepage/music_note.png" )
                    img(class="back-img" id="note2" src="/public/homepage/music_note.png" )
                    img(class="back-img" id="quest" src="/public/homepage/questions.png" )
                    img(class="back-img" id="quest1" src="/public/homepage/questions.png" )
                    img(class="back-img" id="quest2" src="/public/homepage/questions.png" )
            footer

                img(id="foot-logo", src='/public/logo.png', alt="logo")
                div(id="f-left")
                    p About
                    div(class="f-divider")
                    p Feedback
                    div(class="f-divider")
                    p Help
                    div(class="f-divider")
                    p Terms
                    div(class="f-divider")
                    p Privacy

                div(id="f-right")
                    p(id="cpy-rite") Copyright ©  2018-2019 Deus Company S.L. All rights reserved.
                    img(class="sns", src='/public/fb.png', alt="facebook")
                    img(class="sns", src='/public/tweet.png', alt="twitter")
                    img(class="sns", src='/public/insta.png', alt="instagram")
                    select
                        option(value="en") English
                        option(value="ja") 日本語
                        option(value="ko") 한국어