#contact-form{
    margin-top: 2%;
    width: 50%;
    min-width: 40%;
}

#contact-form h1{
    margin-bottom: 25px;
}

#contact-form input, #contact-form label {
    display:block;
}

#contact-form label, #contact-form input[type=submit] {
    margin: 10px 0 5px 0;
}

#contact-form input[type=email], 
.in-text, 
#contact-form input[type=number], 
#contact-form select, 
#contact-form textarea, 
#contact-form #uploadForm{
    height: 40px;
    background: transparent;
    border: 1px solid #035F75;
    box-sizing: border-box;
    padding-left: 16px;
    border-radius: 5px;
    width: 100%;
}

#contact-form input[type=email]:focus, 
#contact-form input[type=number]:focus,
.in-text:focus,
#contact-form select:focus, 
#contact-form textarea:focus, 
#contact-form #uploadForm:focus {
    outline: none !important;
    border: 1px solid #10AFD0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.choices__item{
    /* background-color: #035F75; */
    color: black;
}
.choices__list--dropdown b{
    color:black;
}

#contact-form input[type=text]{
    background-color: transparent;
    padding-left: 16px;
    padding-top: 12px;
}

.choices__inner{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #035F75;
    padding: 0 ;
}

.fld-grp1 .field{
    width: 48.5%;
}

#contact-form #uploadForm{
    height: unset;
    border: 3px dashed #035F75;
    color: black
}

#contact-form textarea{
    height: unset;
    max-width: 120%;
    max-height: 250px;
    padding: 16px;
    resize: vertical;
}

#contact-form select{
    padding-left: auto 16px;
    appearance: none;
}

#contact-form select option{
    color: black;
}

#contact-form input[type=submit]{
    height: 40px;
    background: #10AFD0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form span{
    font-size: 10px;
    font-style: italic;
}

.fld-grp1, .fld-grp2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#yoe input[type=number]{
    width: 50px;
}

.fld-grp2 .field{
    width: 50%;
}

#yoe{
    width: 50%;
}

#uploadForm{
    visibility: hidden;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    padding: 0;
}

@media(max-width:1500px){
    #contact-form{
        width: 50%;
    }
}

@media(max-width:1000px){
    #contact-form{
        width: 70%;
        align-self: center;
        max-width: 400px;
    }

    #contact-title{
        visibility: hidden;
        font-size: 0;
        margin: 0;
    }

    input{
        font-size: 1em;
    }
}