#title{
    text-align: center;  
    margin-bottom: 5.6%;
}

#main-text{
    align-self: center;
    width: 470px;
    grid-area: text;
    z-index: 3;
}

#counters{
    display: grid;
    grid-template-columns: 18.5% 18.5% 18.5% 18.5%;
    column-gap: 7%;
    margin-bottom: 6%;
    margin-top: 7%;
}

.digit{
    height: 100%;
    width: 100%;
    border: 1px solid #10AFD0;
    border-radius: 50%;
}

.t-unit{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1.76px;
    text-transform: uppercase;
}

.di{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 4.224px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 5px;
    text-align: center;
}

#main-text input[type=email]{
    height: 40px;
    width: 72%;
    background: transparent;
    border: 1px solid #035F75;
    border-right-color: #10AFD0;
    box-sizing: border-box;
    padding-left: 16px;
    border-radius: 5px 0px 0px 5px;
}

#main-text input[type=button]{
    height: 40px;
    width: 40px;
    background: #10AFD0;
    background-image: url('/public/email_b.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 0px 5px 5px 0px;

    cursor: pointer;
}


@media(max-width: 1000px){

    #main-text{
        width: 80%;
        text-align: center; 
    }

    #title{
        visibility: hidden;
        font-size: 0;
        margin: 0;
        height: 0;
    }

    /* #sf3a9e5ddc812a00352207941e7468fd11e730b2e77c9fe8b7{
        justify-self: center;
    } */

    #counters{
        margin-left: unset;
        margin-bottom: 15px;
        justify-content: center;
    }
}