html *{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

html, body {
    height: 100%
}

html img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;

    pointer-events: none;
}

body{
    display: flex;
    flex-direction: column;

    margin: 0px;
    width: 100%;
    background: radial-gradient(#003B4C, #002533);
    overflow-x: hidden;
}

.main {
    flex: 1 0 auto;
}

#title{
    text-align: center;
}

#main-body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text animation";
    justify-items: center;
    align-items: center;
}

main h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    /* text-align: center; */
    letter-spacing: 7.85px;
    text-transform: uppercase;
}

main h2{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.1105px;
}

#head-logo{
    position: absolute;
    top: 27px;
    left: 37px;
}

#anime-top{
    /* background: lightseagreen; */
    grid-area: animation;
    width: 652.61px;
    height: 880.61px;
    position: relative;
    /* right: 50px; */
    
}

#main-text{
    grid-area: text;
}

#counters{
    display: grid;
    grid-template-columns: 95px 95px 95px 95px;
    column-gap: 40px;
}

.digit{
    height: 95px;
    width: 95px;
    border: 1px solid #035F75;
    border-radius: 50%;
}

.digit p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 4.224px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 5px;
    text-align: center;
}

input[type=email]{
    height: 40px;
    width: 324px;
    background: transparent;
    border: 1px solid #035F75;
    box-sizing: border-box;
    padding-left: 16px;
    border-radius: 5px 0px 0px 5px;
}

input[type=submit]{
    height: 40px;
    width: 40px;
    background: #10AFD0;
    background-image: url('/public/email_b.png');
    background-repeat: no-repeat, repeat;
    background-position: center; 
    border: 0px;
    border-radius: 0px 5px 5px 0px;

    cursor: pointer;
}

#anime{
    top: 60px;
    z-index: 2;
    position: relative; 
    transform-origin: top;
}

.move{
    position: absolute;
}

.circle{
    position: absolute;
    height: 162px;
    width: 162px;
    opacity: .015;
    border: 55px solid #ffffff;
    border-radius: 50%;
}

.bar{
    position: absolute;
    height: 33px;
    width: 443px;
    opacity: .01;
    border-radius: 5px;
    background: #FFFFFF;
}

.rect{
    position: absolute;
    height: 262px;
    width: 196px;
    opacity: .02;
    border-radius: 20px;
    border: 3px solid #FFFFFF;
}

.circle1{
    position: absolute;
    height: 173px;
    width: 173px;
    opacity: .01;
    border-radius: 50%;
    border: 15px solid #FFFFFF;
}

.rect2{
    position: absolute;
    height: 146px;
    width: 69px;
    opacity: .02;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
}

.rect1{
    position: absolute;
    height: 146px;
    width: 69px;
    opacity: .02;
    border-radius: 5px;
    background: #FFFFFF;
}

#shape1{
    left: -190px;
    bottom: 70px;
}

#shape2{
    right: 40px;
    top: 40px;
}

#shape3{
    right: -110px;
    top: 300px;
}

#shape4{
    left: -170px;
    top: 230px;
}

#shape5{
    right: -120px;
    top: 100px;
}

#shape8{
    right: -100px;
    top: 80px;
}

#shape6{
    left: -190px;
    top: 30px;
}

#shape7{
    left: -190px;
    top: 90px;
}

#clock-lhand, #clock-bhand{
    transform-origin: bottom
}

#clock-lhand{
    left: 256px;
    top: 133px;
}

#clock-bhand{
    left: 292px;
    top: 72px;
}


#cool-girl{
    right: 30px;
    top: 327px;
}

#shadow{
    bottom: 0px;
}

#clock-rope-right, #clock-rope-left{
    top: -145px
}

#clock-rope-left{
    left: 0px;
}

#clock-rope-right{
    right: 0px
}

#backlight{
    top: 350px;
    right: 50px;
    height: 100px;
    width: 100px;
    background: rgb(228, 131, 231);
    opacity: .3;
}

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background: #002533;
}

footer p{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    letter-spacing: 0.38px;
    text-transform: uppercase;

    color: #9CB1BA;

    margin: 0 25px;
}

.f-divider{
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #687A81;
    height: 22px;
}

#foot-logo{
    flex-basis: 1;
}

#cpy-rite{
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.418px;
    color: #687A81;
}

footer select{
    height: 35px;
    width: 110px;

    background: #002533;
    mix-blend-mode: normal;
    opacity: 0.3;
    border: 1px solid #9CB1BA;
    box-sizing: border-box;
    border-radius: 3px;

    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 0.078px;

    color: #9CB1BA;
    margin: 0 25px;
    cursor: pointer;
    
    padding-left: 10px;
}

#f-right, #f-left{
    display: flex;
    align-items: center;
}

.sns{
    margin: 0 5px;
    cursor: pointer;
}