html *{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 100%;
    color: #FFFFFF;
}

html, body {
    height: 100%
}

html img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;

    pointer-events: none;
}
html{
    background: radial-gradient(#003B4C, #002533);
}

h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 8px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 7.85px;
    text-transform: uppercase;
}

h2{
    font-weight: 500;
    font-size: 17px;
    margin-top: 0px;
    /* line-height: 21px; */
    /* identical to box height */

    letter-spacing: 0.1105px;
}

#left-wrap, #right-wrap{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#right-wrap{
    /* background: lightsalmon; */
    /* float: right; */
    /* min-width: 500px; */
    grid-area: animation;
    min-height: 500px;
}

#left-wrap{
    grid-area: text;
    /* background: lightseagreen; */
    /* float: left; */
    /* align-items: center; */
}

body{
    width: 100%;

    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

main{
    height: 93%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "text animation";
    justify-items: center;
    align-items: center;
}

#head-logo{
    position: fixed;
    top: 1em;
    left: 2em;
    z-index: 3;
}

#title0{
    visibility: hidden;
    height: 0;
    width: 0;
}

.poster{
    position: relative;
    height: 100%;
    width: 100%;
}

#join-msg{
    position: absolute;
    top: 35%;
    width: 55%;
    min-width: unset;
    background: rgb(0, 37, 51, .8);
    padding: 0 15px;
    /* width: 500px; */
    border-radius: 5px;
}


@media(max-width:1000px){

    html{
        overflow-y: hidden;
        /* background: #002533; */
    }

    html, body
    {
        /* background: lightsalmon; */
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    #right-wrap, #left-wrap{
        /* background: chocolate; */
        width: 100%;
        justify-self: center;
        height: 100%;
    }

    #left-wrap{
        width: 100%;
        text-align: unset;
    }

    #right-wrap{
        /* height: 100%; */
    }

    #title0{
        position: absolute;
        bottom: 3%;
        visibility: unset;
        height: unset;
        width: unset;
    }

    body
    {
        min-height:100%; 
        /* background: mediumslateblue; */
        position:relative; 
    }

    main{
        grid-template-columns: 100%;
        grid-template-rows: 100% 100%;
        grid-template-areas: "animation"
                            "text"; 
        justify-items: center;
        align-items: center;
    }

    #head-logo{
        left: 1em;
    }
    

    #join-msg{
        width: 80%;
    }
}