html *{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

html, body {
    height: 100%
}

body{
    display: flex;
    flex-direction: column;

    margin: 0px;
    width: 100%;
    background: radial-gradient(#003B4C, #002533);
}

.main {
    flex: 1 0 auto;
}

#main-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    
    /* text-align: center; */
    letter-spacing: 7.85px;
    text-transform: uppercase;
}

main h2{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.1105px;
}

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background: #002533;
}

footer p{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    letter-spacing: 0.38px;
    text-transform: uppercase;

    color: #9CB1BA;

    margin: 0 25px;
}

.f-divider{
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #687A81;
    height: 22px;
}

#head-logo{
    position: absolute;
    top: 27px;
    left: 37px;
}

#foot-logo{
    flex-basis: 1;
}

#cpy-rite{
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.418px;
    color: #687A81;
}

footer select{
    height: 35px;
    width: 110px;

    background: #002533;
    mix-blend-mode: normal;
    opacity: 0.3;
    border: 1px solid #9CB1BA;
    box-sizing: border-box;
    border-radius: 3px;

    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 0.078px;

    color: #9CB1BA;
    margin: 0 25px;
}

#f-right, #f-left{
    display: flex;
    align-items: center;
}

.sns{
    margin: 0 5px;
}

#anime-top{
    /* background: lightseagreen; */
    width: 652.61px;
    height: 879.61px;
    position: relative; 
}

#anime{
    top: 60px;
    z-index: 2;
    position: relative; 
    transform-origin: top;
}

.move{
    position: absolute;
}

#clock-lhand, #clock-bhand{
    z-index: 1;
    transform-origin: bottom
}

#clock-lhand{
    left: 256px;
    top: 143px;
}

#clock-bhand{
    left: 292px;
    top: 72px;
}


#cool-girl{
    right: 30px;
    top: 327px;
}

#shadow{
    bottom: 0px;
}

#clock-rope-right, #clock-rope-left{
    top: -145px
}

#clock-rope-left{
    left: 0px;
}

#clock-rope-right{
    right: 0px
}

#backlight{
    top: 350px;
    right: 50px;
    height: 100px;
    width: 100px;
    background: rgb(228, 131, 231);
    opacity: .3;
}